.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #1e1e1e;
  height: 1024px;
  position: relative;
}
.frame-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 612px;
  top: 817px;
  overflow: hidden;
}
.frame-9 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1388px;
  position: absolute;
  left: 19px;
  top: 11px;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 91px;
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.riya-ambolkar {
  color: #f4f4f4;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  width: 306px;
  height: 65px;
}
.frame-2 {
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: #f4f4f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #f4f4f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #f4f4f4;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.let-s-create-a-website-design {
  color: #f4f4f4;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 73px;
  top: 160px;
}
.i-m-a-data-analyst-with-experience-in-building-etl-pipelines-creating-dashboards-and-designing-scalable-ai-driven-solutions {
  color: #f4f4f4;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 540px);
  top: 286px;
  width: 1066px;
}
.footer {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 276px);
  top: 882px;
  width: 538px;
}
.frame-10 {
  background: #a8ff35;
  border-radius: 12px;
  padding: 14px 19px 14px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 57px;
  position: absolute;
  left: calc(50% - 97px);
  top: 455px;
}
.get-started {
  color: #1e1e1e;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.frame-11 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 612px;
  top: 709px;
  overflow: hidden;
}
